In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pandas.csv')
df.head()

  First Name Last name  Age Residential State
0        Ada      Anan   19        California
1      Bukky     Edgar   28          New York
2     Carlos     Inios   37           Florida
3      Devon      Osea   46           Montana
4        Het       Ung   55            Alaska

In [5]:
df['Nationality'] = ['Ghanian', 'Mexican', 'Spanish', 'Hungarian', 'Thai']

In [6]:
df.head()

  First Name Last name  Age Residential State Nationality
0       Slew      Anan   19        California     Ghanian
1      Bukky     Edgar   28          New York     Mexican
2     Carlos     Inios   37           Florida     Spanish
3      Devon      Osea   46           Montana   Hungarian
4        Het       Ung   55            Alaska        Thai

In [8]:
df.to_csv('pandas.csv', index=False)

In [9]:
df1 = pd.read_csv('pandas.csv')
df.head()

  First Name Last name  Age Residential State Nationality
0       Slew      Anan   19        California     Ghanian
1      Bukky     Edgar   28          New York     Mexican
2     Carlos     Inios   37           Florida     Spanish
3      Devon      Osea   46           Montana   Hungarian
4        Het       Ung   55            Alaska        Thai